.footer {
  width: 360px;
  height: 52px;
  background-color: #41197F;
  bottom: 0;
  position: fixed;
}

.footer button {
  background-color: transparent;
  border: none;
}

.footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 40px;
}

.footer img {
  width: 40px;
  height: 29px;
}