* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loginContainer {
  background: linear-gradient(180deg, #41197f 60%, white 40%);
  height: 100vh;
  overflow: hidden;
}

.logoRecipesG {
  height: 157px;
  left: 81px;
  position: relative;
  top: -220px;
  width: 198px;
}

.tomate {
  height: 279px;
  left: -60px;
  position: relative;
  top: 215px;
  width: 458px;
}

.loginInputs {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.formContainer h3 {
  color: #41197f;
  font-family: Epilogue , sans-serif;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 20px;
  margin-bottom: 15px;
  margin-top: 25px;
  text-align: center;
}

.loginInputs input {
  border: solid 0.5px #42197f;
  border-radius: 5px;
  color: #41197f;
  height: 40px;
  margin-bottom: 5px;
  padding: 10px;
  width: 276px;
}

.loginInputs button {
  background-color: #fcc436;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  height: 40px;
  padding: 10px;
  width: 276px;
}
