 /* Recipe */

 /* Carousel de recomendacoes */
 .containerRecommendations {
   display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
 }

 .containerRecommendations img {
   height: 135px;
   width: 163px;
 }

 /* Fixed Button */
 .start-btn {
   background-color: #f44336;
   border: none;
   bottom: 0;
   color: white;
   font-size: 16px;
   left: 90px;
   padding: 10px 20px;
   position: fixed;
   text-align: center;
   text-decoration: none;
 }